################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tamagochi/v15
/packages
/View.Test
/Model.Test
/ViewModel/bin/Debug
/ViewModel/obj
/View/bin/Debug
/View/obj
/Model/bin/Debug
/Model/obj
